!.vscode/extensions.json
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.pnp.js
.vscode/*
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
/.pnp
/build
/coverage
client/.gitignore
client/build
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
server/build
yarn-debug.log*
yarn-error.log*

# TypeScript compiled files
*.js
*.js.map
!client/src/main.tsx
!client/src/vite-env.d.ts

# Build outputs
client/dist/
server/dist/

# Coverage rules
/coverage/
coverage/
coverage*
**/coverage/
**/coverage/*
**/coverage/**
**/coverage.*
**/lcov*
**/lcov-report/
**/lcov-report/*
**/lcov-report/**
**/*.html
**/*.xml
